.body{
    background: rgb(245, 241, 241);
    background-image: url(../image/usd.png) , url(../image/usd.png);
    background-size: 100px;
    background-repeat: repeat-y;
    background-position: top right , top left;
    font-size: 20px;
}

.body__header{
    color: rgb(7, 156, 156);
    text-align: center;
}

.body__currency{
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 40px;
    color: rgb(248, 94, 5);
    margin-top: 0px;
    padding: 0px;
}