@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital@1&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}